.content-title {
  font-weight: 700;
  font-size: 12px;
  font-family: 'Red Hat Display', sans-serif;
  color: #312F2F;
  margin: 0; /* optional, to remove default p margin */
}

.step-badge {
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}