<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <p class="fw-bold mb-1">Media Contributions</p>
        <small class="text-muted">
            Content you've created and shared with the audience.
        </small>
    </div>
    <div class="col-md-8">
        <ul class="list-unstyled d-flex gap-4 mb-0 mt-2 flex-wrap">

  @for (item of mediaStats; track item) {
    <li class="d-flex align-items-center gap-2">
      <span
        class="material-symbols-outlined d-flex align-items-center justify-content-center"
        [ngClass]="item.isCircle ? 'bg-dark text-white rounded-circle' : ''"
        [style.width]="item.isCircle ? '24px' : null"
        [style.height]="item.isCircle ? '24px' : null"
        [style.fontSize]="item.isCircle ? '16px' : null"
      >
        {{ item.icon }}
      </span>
      <span>{{ item.label }}</span>

    </li>
  }

</ul>
    </div>

</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider>