.custom-divider {
  border-top-color: #6c757d !important;
}
.mainHead{
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.subHeading{
    font-weight: 400;
    font-size: 10px;
   
}
.input-label{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  color: #636363;
}
.save-btn{
  font-weight: 700;
  font-family: Red Hat Display;
  font-size: 12px;
  font-style: bold;
}