.custom-divider {
  border-top-color: #6c757d !important;
}
.mainHead{
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.subHeading{
    font-weight: 400;
    font-size: 10px;
   
}
.input-label{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  color: #636363;
}
.input-txt:focus {
  border-color: #D80905 !important;
  box-shadow: none !important;
  outline: none !important;
}
.input-txt{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  height: 36px;
  color: #312F2F;
}
.save-btn{
  display: flex;
  align-items: end;
}
