<div class="row">

  <!-- LEFT SIDE -->
  <div class="col-md-3">
    <div class="d-flex flex-column">
      <p class="mainHead mb-1">Profile Info</p>
      <small class="subHeading">
        Personal and contact details.
      </small>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="col-md-8 mx-2 ">
    <div class="row">

      <!-- Column 1 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label class="form-label input-label">Full Name</label>
          <input type="text" class="form-control input-txt"
          (focus)="enableEdit()"
           [value]="profile?.FullName || ''" readonly />
        </div>

        <div>
          <label class="form-label input-label">Phone Number</label>
          <div class="input-group">
            <span class="input-group-text input-label">
              +{{ profile?.CountryCode || '' }}
            </span>
            <input type="text" class="form-control input-txt"
            (focus)="enableEdit()"
             [value]="profile?.Phone || ''" readonly />
          </div>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label class="form-label input-label">Designation / Role</label>
          <input type="text" class="form-control input-txt"
          (focus)="enableEdit()"
           [value]="profile?.Role || ''" readonly />
        </div>

        <div>
          <label class="form-label input-label">Email</label>
          <input type="email" class="form-control input-txt"
          (focus)="enableEdit()"
           [value]="profile?.Email || ''" readonly />
        </div>
      </div>

      <!-- NEW Column 3 -->
      <div class="col-md-4 d-flex flex-column justify-content-end">
        <div *ngIf="isEditing">
          <app-primary-button class="save-btn " [label]="'Save Changes'" iconSrc="/upload/tick-circle.svg">
          </app-primary-button>
        </div>
      </div>

    </div>
  </div>
  <!-- RIGHT END -->


</div>

<mat-divider class="text-[#E4E4E4] my-4"></mat-divider>