
<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <h6 class="fw-bold mb-1">Profile Info</h6>
        <small class="text-muted">
            Personal and contact details.
        </small>
    </div>
    <div class="col-md-3">

    <!-- Full Name -->
    <div class="mb-3">
      <label class="form-label">Full Name</label>
      <input 
        type="text" 
        class="form-control"
        placeholder="Shijo M sebastian"
      />
    </div>

    <!-- Phone Number -->
    <div>
      <label class="form-label">Phone Number</label>
      <div class="input-group">
        <span class="input-group-text">+1</span>
        <input 
          type="text" 
          class="form-control"
          placeholder="202 555 0143"
        />
      </div>
    </div>

  </div>

  <!-- RIGHT COLUMN -->
  <div class="col-md-3">

    <!-- Designation -->
    <div class="mb-3">
      <label class="form-label">Designation / Role</label>
      <input 
        type="text" 
        class="form-control"
        placeholder="Radio Jockey"
      />
    </div>

    <!-- Email -->
    <div>
      <label class="form-label">Email</label>
      <input 
        type="email" 
        class="form-control"
        placeholder="rj.shijosebastian345@gmail.com"
      />
    </div>

  </div>

  <!-- BUTTON -->
  <div class="col-md-2 d-flex align-items-end">
    <button class="btn btn-danger w-100 d-flex align-items-center justify-content-center gap-2">
      <i class="bi bi-check-circle-fill"></i>
      Save changes
    </button>
  </div>
  
</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider> 
