<button
  mat-button
  disableRipple
  class="custom-btn d-flex align-items-center gap-1"
  [disabled]="loading"
  [ngClass]="{
    'mat-stroked-button': type === 'stroked',
    'mat-flat-button': type === 'flat',
    'mat-raised-button': type === 'raised'
  }"
  (click)="onClick()"
>

  <!-- Loader -->
  <span *ngIf="loading" class="loader"></span>

  <!-- Normal content -->
  <ng-container *ngIf="!loading">
    <mat-icon *ngIf="icon && !iconSrc">{{ icon }}</mat-icon>
    <img *ngIf="iconSrc" [src]="iconSrc" class="btn-icon" />
    {{ label }}
  </ng-container>

</button>