.custom-btn {
  color: var(--primary-color) !important;
  font-weight: 700;
  font-size: 12px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid color-mix(in srgb, var(--primary-color) 20%, transparent);
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-icon {
  width: 16px;
  height: 16px;
}

.custom-btn .mat-mdc-button-persistent-ripple::before {
  opacity: 0 !important;
}

.custom-btn:hover {
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent) !important;
}

:host ::ng-deep .custom-btn .mat-mdc-button-persistent-ripple::before {
  opacity: 0 !important;
}

