<div class="advertisement ">
    <div class="p-3">
        <div class="header d-flex justify-content-between align-items-center ">
            <div>
                <h4 class="mb-0">Advertisements</h4>
                <p>Manage advertiser campaigns, upload ad files and schedule broadcast slots.</p>
            </div>

            <app-primary-button label="Upload ad file" iconSrc="/main/upload-icon.svg"
                (click)="openModal()"></app-primary-button>
        </div>

        <div class="divider"></div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="filter-container">
                <mat-form-field appearance="outline" class="search-field">
                    <span matPrefix class="search-icon">
                        <img src="/main/searchIcon.svg" alt="search" />
                    </span>
                    <input matInput placeholder="Search here..." [(ngModel)]="searchText" />
                </mat-form-field>

                <!-- Dropdowns -->
                <mat-form-field appearance="outline" class="status-drop-down">
                    <mat-select placeholder="All Status" [(value)]="status">
                        <mat-option value="all">All Status</mat-option>
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="inactive">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-select placeholder="All Category" [(value)]="category">
                        <mat-option value="all">All Category</mat-option>
                        <mat-option value="music">Music</mat-option>
                        <mat-option value="news">News</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-select placeholder="Today" [(value)]="day">
                        <mat-option value="all">All Host</mat-option>
                        <mat-option value="host1">Host 1</mat-option>
                        <mat-option value="host2">Host 2</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="d-flex align-items-center gap-1">
                <p style="font-size: 12px; font-weight: 500; color: #757575;">Clear filters</p>
                <mat-icon style="font-size: 12px; color: #757575; cursor: pointer;" class="mb-1">cancel</mat-icon>
            </div>
        </div>

    </div>
        @if(loading){
    <div class="spinner-container">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
    }
    @if(!loading){
    <table mat-table [dataSource]="dataSource" class="custom-table">

        <ng-container matColumnDef="advertisements">
            <th mat-header-cell *matHeaderCellDef>Ads</th>
            <!-- <td mat-cell *matCellDef="let row">
                <div class="advertisement-cell">
                    <img [src]="row._url" class="avatar" />
                    <div class="advertisement-name">{{ row.FileName }}</div>
                </div>
            </td> -->
            <td mat-cell *matCellDef="let row">
  <div class="advertisement-cell">

    <!-- AUDIO (FIRST PRIORITY) -->
    <ng-container *ngIf="isAudio(row._url); else notAudio">
      <img src="/advertise/audio.svg" class="avatar" />
    </ng-container>

    <!-- NON-AUDIO -->
    <ng-template #notAudio>

      <!-- IMAGE -->
      <img *ngIf="isImage(row._url)"
           [src]="row._url"
           class="avatar"
           (error)="onImgError($event)" />

      <!-- VIDEO -->
      <video *ngIf="isVideo(row._url)"
             [src]="row._url"
             class="avatar"
             muted
             preload="metadata">
      </video>

      <!-- FALLBACK -->
      <img *ngIf="!isImage(row._url) && !isVideo(row._url)"
           src="/assets/file-icon.svg"
           class="avatar" />

    </ng-template>

    <div class="advertisement-name">{{ row.FileName }}</div>
  </div>
</td>
        </ng-container>

        <ng-container matColumnDef="advertiser">
            <th mat-header-cell *matHeaderCellDef>Advertiser</th>
            <td mat-cell *matCellDef="let row">
                <div class="user">{{ row.AdvertiserName }}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="adType">
            <th mat-header-cell *matHeaderCellDef>Ad Type</th>
            <td mat-cell *matCellDef="let row">
                <div class="advertisement-cell">
                    <img [src]="getAdTypeIcon(row.AdType)" />
                    <div class="advertisement-name">{{ row.AdType }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="adPlayCount">
            <th mat-header-cell *matHeaderCellDef>Ad Play Count</th>
            <td mat-cell *matCellDef="let row">
                {{ row.PlaybackCount }} plays / {{row.TotalDays}} days
            </td>
        </ng-container>

        <ng-container matColumnDef="adStatus">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">
                <span class="adStatus" [ngClass]="row.adStatusClass">
                    <mat-icon *ngIf="row.Status === 'Active'">fiber_manual_record</mat-icon>
                    <mat-icon *ngIf="row.Status === 'Waiting List'">warning</mat-icon>
                    <mat-icon *ngIf="row.Status === 'Published'">check_circle</mat-icon>
                    <mat-icon *ngIf="row.Status === 'Expired'">info</mat-icon>

                    {{ row.Status }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>

            <td mat-cell *matCellDef="let row">

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon> <!-- ✅ horizontal dots -->
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <i class="material-symbols-outlined action-icon px-2">cloud_upload</i>
                        <span>Publish</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>

                    <button  (click)="deleteAdvertisement(row.ID)" mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>

                    <button mat-menu-item>
                        <mat-icon>visibility</mat-icon>
                        <span>View</span>
                    </button>
                </mat-menu>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>
}

    <mat-paginator [length]="22" [pageSize]="7" [pageSizeOptions]="[7]" showFirstLastButtons>
    </mat-paginator>

</div>