<div class="bg-container d-flex justify-content-center align-items-center">
  <div class="login-card d-flex flex-column align-items-center">

    <!-- RED HEADER STRIP -->
    <div class="card-header-strip"></div>

    <!-- ICON -->
    <div class="d-flex justify-content-center pt-4 mb-3">
      <img src="/auth/verify.svg" alt="verify icon" class="verify-icon">
    </div>

    <!-- TITLE -->
    <div class="text-center mb-4">
      <p class="welcome-head">Set a new password</p>
      <p class="welcome-text">Create a new password to access your account.</p>
    </div>

    <!-- FORM -->
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="form-container" novalidate>

      <!-- New Password -->
      <div class="form-group password-wrapper">
        <label>New Password</label>
        <div class="input-with-icon">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Enter your new password"
            class="form-input"
            formControlName="password"
          />
          <span class="toggle-icon" (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </span>
        </div>
        <small class="error"
          *ngIf="passwordForm.get('password')?.invalid && (passwordForm.get('password')?.touched || submitted)">
          Password is required
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="form-group password-wrapper">
        <label>Confirm Password</label>
        <div class="input-with-icon">
          <input
            [type]="hideConfirm ? 'password' : 'text'"
            placeholder="Re-enter your new password"
            class="form-input"
            formControlName="confirmPassword"
          />
          <span class="toggle-icon" (click)="hideConfirm = !hideConfirm">
            <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
          </span>
        </div>
        <small class="description">
          Use at least 8 characters with a mix of letters and numbers
        </small>
        <small class="error"
          *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.touched || submitted)">
          Confirm password is required
        </small>
      </div>

      <!-- Reset Button -->
      <button class="login-btn mt-3" type="submit" [disabled]="passwordForm.invalid">
        Reset Password
      </button>

      <!-- Back to Login -->
      <div class="back-button d-flex justify-content-center py-3 mt-2">
        <a href="/sign-in">Back to Login</a>
      </div>
    </form>
    
  </div>

</div>


