<div class="row gap-2">
        <div class="col-md-3">
        <div class="d-flex flex-column justify-content-start">
            <p class="mainHead mb-1 ">Settings</p>
            <small class="subHeading">
                 Manage your account and security preferences.
            </small>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="list-unstyled  d-flex gap-3 mb-0 mt-2">
            <li class="d-flex gap-1 p-2">
                <span class="material-symbols-outlined ">
                    lock
                </span>
                <span class="PerformanceData pt-1">Change Password</span>
            </li>
            <li class="d-flex gap-1 p-2 rounded"  style="background-color: #D809051A;" >
                <span class="material-symbols-outlined text-danger" >
                    logout
                </span>
                <span class="logoutData pt-1">Logout</span>
            </li>
        </ul>
    </div>
</div>
