<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <p class="fw-bold mb-1">Settings</p>
        <small class="text-muted">
            Manage your account and security preferences.
        </small>
    </div>
    <div class="col-md-8">
        <ul class="list-unstyled  d-flex gap-3 mb-0 mt-2">
            <li class="d-flex gap-1 p-2">
                <span class="material-symbols-outlined">
                    lock
                </span>
                <span class="">Change Password</span>
            </li>
            <li class="d-flex gap-1 p-2 rounded" style="background-color: #D809051A;">
                <span class="material-symbols-outlined text-danger">
                    logout
                </span>
                <span>Logout</span>
            </li>
        </ul>
    </div>
</div>
