.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 10px;
}

.input-label {
  font-weight: 500;
  font-size: 12px;
  font-family: Poppins;
  display: block;
  color: var(--muted-label);
}

.input-field {
  font-weight: 400;
  font-size: 12px;
  border-radius: 6px;
  height: 36px;
  width: 100%;
  padding: 10px;
  border: 1px solid #CFCFCF;
  font-family: Poppins;
  margin-bottom: 6px;
  background-color: #FFFFFF;
  color: var(--muted-input);
  line-height: 16px;
}

.input-field::placeholder {
  color: var(--muted-input) !important;
}

.select-wrapper {
  position: relative;
  width: 100%;
  max-width: 552px;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 35px;
  color: var(--muted-input);
   border: 1px solid #CFCFCF;
}

.select-wrapper select.selected {
  color: #000; /* black text for selected value */
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 20px;
  color: #666;
}

/* dropdown background */
select {
  background-color: #fff;
}

/* hover effect (works only partially depending on browser) */
select option:hover {
  background-color: #d92b2b;
  color: #fff;
}

/* selected option */
select option:checked {
  background-color: #d92b2b;
  color: #fff;
}
/* same look as custom input */
.select-wrapper select.input-field {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* 🔴 red border after selection */
.select-wrapper select.selected {
  border: 1px solid #D8090580;
  color: #312F2F;
}