<div class="bg-container d-flex flex-column min-vh-100">
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="login-card d-flex">

      <div class="logo d-flex align-items-center justify-content-center">
        <img src="/auth/Frame.png" alt="">
      </div>

      <div class="signin-form d-flex align-items-center justify-content-center">
        <div>

          <div class="d-flex justify-content-center pt-2">
            <img [src]="isOtpScreen ? '/auth/verify.svg' : '/auth/lock.png'" alt="">
          </div>

          <div class="text-center pt-4 mb-4">
            <p class="welcome-head">
              {{ isOtpScreen ? 'Verify your email' : 'Forgot your password?' }}
            </p>

            <p class="welcome-text">
              <span *ngIf="!isOtpScreen">
                Enter your registered email address and we'll send you <br>
                a verification code.
              </span>

              <span *ngIf="isOtpScreen">
                Enter the 6-digit code sent to your email address.
              </span>
            </p>
          </div>

          <div class="form-container">

            <!-- SWITCH BLOCK -->
            <div *ngIf="!isOtpScreen; else otpBlock">

              <!-- EMAIL FORM -->
              <form [formGroup]="loginForm" (ngSubmit)="verifyEmail()" novalidate>

                <div class="form-group pb-3">
                  <label>Email Address</label>

                  <mat-form-field appearance="outline" class="full-width custom-mat-field">
                    <input matInput type="email" placeholder="e.g. smithjohn45@gmail.com" formControlName="email" />
                  </mat-form-field>
                   @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || submitted)) {

                    @if (loginForm.get('email')?.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                    }

                    @if (loginForm.get('email')?.hasError('email')) {
                    <mat-error>Invalid email format</mat-error>
                    }
                    }
                </div>

                <button class="login-btn mt-2" type="submit">
                  Send Reset Link
                </button>
              </form>

              <div class="back-button d-flex justify-content-center py-3 mt-2">
                <a href="/sign-in">Back to Login</a>
              </div>

              <div class="help-text pt-1">
                Need help?<a href="#">Contact Support</a>
              </div>
            </div>

            <ng-template #otpBlock>

              <div>

                <div class="form-group">
                  <label>Verification Code</label>

                  <div class="otp-container">
                    <input *ngFor="let item of otpArray; let i = index" type="text" maxlength="1" class="otp-box"
                      [value]="otpValues[i]" (input)="onOtpInput($event, i)" (keydown)="onKeyDown($event, i)" />
                  </div>
                </div>
                <button class="login-btn mt-2" type="button" (click)="verifyOtp()">
                  Verify Code
                </button>

                <div class="text-center mt-4 resend-container">
                  <span class="resend-text">Didn't receive code?</span>

                  <button type="button" class="resend-btn" (click)="resendCode()" [disabled]="timer > 0">
                    Resend Code
                  </button>

                  <span class="timer" *ngIf="timer > 0">
                    in {{ formatTime(timer) }}
                  </span>
                </div>

                <div class="back-button d-flex justify-content-center py-4 mt-3">
                  <a href="/sign-in">Back to Login</a>
                </div>

              </div>

            </ng-template>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="footer-text mt-auto text-center py-3">
    &copy; 2026 <span class="brand">SwiftKode</span>. All rights reserved.
  </div>
</div>