.bg-container {
    background-image: url('/auth/Background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
}

.login-card {
    height: 590px;
    width: 1100px;
    border-radius: 10px;
    overflow: hidden;
}

.logo {
    height: 100%;
    width: 50%;
    background: #b30000;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.signin-form {
    width: 50%;
    background: #fff;
}

/* FULL WIDTH FIX */
.full-width {
    width: 100%;
}

.full-width {
    width: 400px;
}


:host ::ng-deep .custom-mat-field .mat-mdc-text-field-wrapper {
    border-radius: 6px !important;
    border: 1px solid #CFCFCF !important;
    height: 40px;
    align-items: center;
}

/* REMOVE DEFAULT MATERIAL OUTLINE */
:host ::ng-deep .custom-mat-field .mdc-notched-outline {
    display: none !important;
}

/* INPUT ALIGNMENT */
:host ::ng-deep .custom-mat-field .mat-mdc-form-field-infix {
    padding: 0 0px !important;
    min-height: 40px !important;
    display: flex;
    align-items: center;
}

:host ::ng-deep .custom-mat-field {
    margin-bottom: 0 !important;
}

/* Fix suffix icon spacing */
:host ::ng-deep .mat-mdc-form-field-icon-suffix {
    margin-right: 2px !important;
}

/* Reduce button padding */
:host ::ng-deep .mat-mdc-icon-button {
    padding: 4px !important;
    width: 28px;
    height: 28px;
}

/* INPUT TEXT */
:host ::ng-deep .custom-mat-field input {
    font-size: 14px;
}

/* FOCUS BORDER */
:host ::ng-deep .custom-mat-field.mat-focused .mat-mdc-text-field-wrapper {
    border: 1px solid #1976d2 !important;
}

/* ICON */
:host ::ng-deep .mat-mdc-icon-button {
    width: 32px;
    height: 32px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

:host ::ng-deep .custom-mat-field input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.welcome-head {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    max-width: 420px;
    margin: auto;
}

.form-group {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
    font-weight: 500;
}

.form-input {
    width: 400px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border 0.2s;
}

.form-input:focus {
    border-color: #1976d2;
}


.input-with-icon {
    position: relative;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
}

.text-end {
    text-align: right;
    margin-bottom: 16px;
    margin-top: 2px;
}

.forgot-link {
    font-size: 13px;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    height: 42px;
    border: 1px solid #e57373;
    background: #fbe9e9;
    color: red;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.help-text {
    text-align: center;
    margin: 40px 0;
    font-size: 14px;
    color: #9e9e9e;
}

.help-text a {
    color: #333;
    text-decoration: underline;
    font-weight: 500;
    margin-left: 4px;
}

.help-text a:hover {
    color: #000;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: #9e9e9e;
    padding: 10px 0;
}

.footer-text .brand {
    font-weight: 600;
    color: #666;
}

.error {
    color: #ff4d4f !important;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

.back-button a {
    color: #524e4e;
    text-decoration: none;
    font-weight: 400;
    font-size: small;

}

.otp-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* Default (empty) */
.otp-box {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

.otp-box.filled {
    background: #fbe9e9;
    color: red;
    border-color: #e57373;
}

/* Focus */
.otp-box:focus {
    border-color: #1976d2;
}

.resend-container {
    font-size: 13px;
}

/* Ash color text */
.resend-text {
    color: #9e9e9e;
    margin-right: 6px;
}

/* Button style */
.resend-btn {
    background: none;
    border: none;
    color: #000;
    font-weight: 600;
    /* semibold */
    cursor: pointer;
    margin-right: 6px;
}

/* Disabled */
.resend-btn:disabled {
    color: #bbb;
    cursor: not-allowed;
}

/* Timer (red) */
.timer {
    color: red;
    font-weight: 500;
}