    .date-btn {
        border: 2px solid #C6C6C6;
        font-size: 12px;
        cursor: pointer;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 10px;
    }

    .program-schedules h6 {
        font-size: 14px;
        font-weight: 600;
        line-height: 12px;
    }

    .program-schedules p {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        width: 250px;
    }

    .on-air p {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .on-air-text {
        color: var(--success);
        font-weight: 400;
    }

    .rjImage img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
    }

    .song-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 10px;
    }

    .time {
        font-size: 10px;
        color: #9A9A9A;
    }

    .name span {
        color: var(--primary-color);
        font-size: 10px;
    }

    .name img {
        width: 10px;
    }

    .schedules-content {
        border: 1px solid #E4E4E4;
        border-radius: 10px;
        overflow: hidden;
    }

    .on-air-content {
        background-color: #FFFFFF;
        border: none !important;
        border-bottom: 1px solid #E4E4E4 !important;
    }

    .on-air-section {
        background-color: #FFFFFF;
        border: none !important;
        border-bottom: 1px solid #E4E4E4 !important;
    }

    .on-air-content:first-child {
        border-bottom: none !important;
    }

    .on-air-content:last-child {
        border-bottom: none !important;
    }

    .rjImage img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
    }

    .headphone-icon {
        width: 14px;
    }

    .border-bottom {
        border-bottom: 1px solid #eee;
    }

    .listeners {
        font-size: 12px;
        font-family: var(--secondary-font);
        color: #636363;
    }

    .files {
        font-size: 10px;
        color: var(--success);
    }

    .view span {
        font-size: 10px;
    }

    .border-b {
        border-bottom: 1px solid #E4E4E4;
    }

    .scroll-container {
        min-height: 0px;
        max-height: 650px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;

        -ms-overflow-style: none;
    }

    .meterial-icons {
        color: var(--success);
    }