<div class="form-group">
  <div class="schedule-row mt-2">

    <!-- FROM -->
    <div class="schedule-box">
      <div class="label input-field">Schedule Time</div>
      <div class="divider"></div>

      <div class="schedule-box-right">
        <div class="select-wrapper">
          <!-- <select 
            [(ngModel)]="fromTime"
            (ngModelChange)="emitChange()"
            name="fromTime"
             [ngClass]="{'selected-border': fromTime}">

            <option value="" disabled hidden >2:00 PM </option>

            <option *ngFor="let t of times" [value]="t">
              {{ t }}
            </option>
          </select> -->
          <div class="time-input" (click)="togglePicker('from')">
            {{ fromTime || '10:00 AM ' }}
            <img src="/program/dropdown.svg" class="dropdown-icon" />
          </div>
          <!-- TIME PICKER -->
          <div class="time-picker" *ngIf="activePicker === 'from'">

            <div class="time-columns">

              <!-- HOURS -->
              <div class="time-col " #hourCol>
                <div *ngFor="let h of hours; let i = index" (click)="selectHour(h)" [class.active]="h === fromState.hour"
[class.selected-row]="i === fromState.index">

                  {{ h }}
                </div>
              </div>

              <!-- MINUTES -->
              <div class="time-col" #minuteCol>
                <div *ngFor="let m of minutes; let i = index" (click)="selectMinute(m)"
                 [class.active]="m === fromState.minute"
[class.selected-row]="i === fromState.index">

                  {{ m }}
                </div>
              </div>

              <!--  AM PM INLINE (same row feeling) -->
              <div class="ampm-btn"
  (click)="selectPeriod('AM')"
  [class.active]="fromState.period === 'AM'"

  >
  AM
</div>

<div class="ampm-btn"
  (click)="selectPeriod('PM')"
  [class.active]="fromState.period === 'PM'">
  PM
</div>

            </div>

            <button class="ok-btn" (click)="confirmTime()">OK</button>
          </div>

          <img src="/program/dropdown.svg" class="dropdown-icon" />
        </div>
      </div>
    </div>

    <!-- ARROW -->
    <div class="arrow-container">
      <img src="/program/arrow-right.svg" />
    </div>

    <!-- TO -->
    <div class="schedule-box-rightEnd">
      <div class="select-wrapper">
        <!-- <select [(ngModel)]="toTime" (ngModelChange)="emitChange()" name="toTime" [ngClass]="{'selected': toTime}">

          <option value="" disabled hidden>Select Time</option>

          <option *ngFor="let t of times" [value]="t">
            {{ t }}
          </option>
        </select> -->
        <div class="time-input" (click)="togglePicker('to')">
          {{ toTime || '11:30 AM' }}
          <img src="/program/dropdown.svg" class="dropdown-icon" />
        </div>

        <!-- TIME PICKER -->
        <div class="time-picker" *ngIf="activePicker === 'to'">

          <div class="time-columns">

            <!-- HOURS -->
            <div class="time-col">
              <div *ngFor="let h of hours; let i = index" (click)="selectHour(h)" [class.active]="h === toState.hour"
[class.selected-row]="i === toState.index">

                {{ h }}
              </div>
            </div>

            <!-- MINUTES -->
            <div class="time-col">
              <div *ngFor="let m of minutes; let i = index" (click)="selectMinute(m)"
                [class.active]="m === toState.minute"
[class.selected-row]="i === toState.index">

                {{ m }}
              </div>
            </div>

            <!-- AM PM -->
            <div class="ampm-btn"
  (click)="selectPeriod('AM')"
  [class.active]="toState.period === 'AM'"
  [class.selected-row]="toState.index === 2">
  AM
</div>

<div class="ampm-btn"
  (click)="selectPeriod('PM')"
  [class.active]="toState.period === 'PM'"
  [class.selected-row]="toState.index === 2">
  PM
</div>

          </div>

          <button class="ok-btn" (click)="confirmTime()">OK</button>
        </div>

        <img src="/program/dropdown.svg" class="dropdown-icon" />
      </div>
    </div>

  </div>

</div>