.privacy-policy h1 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0%;

}

.privacy-policy p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;

}

.privacy-policy h2 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.privacy-policy ul li {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0%;

}