<!-- ================= EMAIL / OTP CARD ================= -->
<div *ngIf="!isOtpVerified" class="bg-container d-flex flex-column min-vh-100">
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="login-card d-flex">

      <!-- LEFT LOGO -->
      <div class="logo d-flex align-items-center justify-content-center">
        <img src="/auth/Frame.png" alt="">
      </div>

      <!-- FORM -->
      <div class="signin-form d-flex align-items-center justify-content-center">
        <div>

          <!-- ICON -->
          <div class="d-flex justify-content-center pt-2">
            <img [src]="isOtpScreen ? '/auth/verify.svg' : '/auth/lock.png'" alt="">
          </div>

          <!-- TITLE -->
          <div class="text-center pt-4 mb-4">
            <p class="welcome-head">
              {{ isOtpScreen ? 'Verify your email' : 'Forgot your password?' }}
            </p>
            <p class="welcome-text">
              <span *ngIf="!isOtpScreen">
                Enter your registered email address and we'll send you <br>
                a verification code.
              </span>
              <span *ngIf="isOtpScreen">
                Enter the 6-digit code sent to your email address.
              </span>
            </p>
          </div>

          <div class="form-container">
            <!-- EMAIL FORM -->
            <div *ngIf="!isOtpScreen; else otpForm">
              <form [formGroup]="loginForm" (ngSubmit)="verifyEmail()" novalidate>
                <div class="form-group pb-3">
                  <label>Email Address</label>
                  <mat-form-field appearance="outline" class="full-width custom-mat-field">
                    <input matInput type="email" placeholder="e.g. smithjohn45@gmail.com" formControlName="email" />
                  </mat-form-field>
                  <mat-error
                    *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">Email is
                    required</mat-error>
                  <mat-error
                    *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">Invalid email
                    format</mat-error>
                </div>

                <button class="login-btn mt-2 w-100" type="submit">Send Reset Link</button>
              </form>

              <div class="back-button d-flex justify-content-center py-3 mt-2">
                <a href="/sign-in">Back to Login</a>
              </div>

              <div class="help-text pt-1">
                Need help?<a href="#">Contact Support</a>
              </div>
            </div>

            <!-- OTP FORM -->
            <ng-template #otpForm>
              <div>
                <div class="form-group">
                  <label>Verification Code</label>
                  <div class="otp-container">
                    <input *ngFor="let item of otpArray; let i = index" type="text" maxlength="1" class="otp-box"
                      [value]="otpValues[i]" (input)="onOtpInput($event, i)" (keydown)="onKeyDown($event, i)" />
                  </div>
                </div>
                <button class="login-btn mt-2 w-100" type="button" (click)="verifyOtp()">Verify Code</button>

                <div class="text-center mt-4 resend-container">
                  <span class="resend-text">Didn't receive code?</span>
                  <button type="button" class="resend-btn" (click)="resendCode()" [disabled]="timer > 0">Resend
                    Code</button>
                  <span class="timer" *ngIf="timer > 0">in {{ formatTime(timer) }}</span>
                </div>

                <div class="back-button d-flex justify-content-center py-4 mt-3">
                  <a href="/sign-in">Back to Login</a>
                </div>
              </div>
            </ng-template>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="footer-text mt-auto text-center py-3">
    &copy; 2026 <span class="brand">SwiftKode</span>. All rights reserved.
  </div>
</div>

<!-- ================= NEW PASSWORD CARD ================= -->
<div *ngIf="isOtpVerified" class="bg-container d-flex justify-content-center align-items-center min-vh-100">


  <div class="bg-container d-flex justify-content-center align-items-center">
    <div class="set-password-card">

      <!-- RED HEADER STRIP -->
      <div class="set-password-header-strip"></div>

      <!-- ICON -->
      <div class="set-password-icon-wrapper py-4">
        <img src="/auth/verify.svg" alt="verify icon" class="set-password-verify-icon ">
      </div>

      <!-- TITLE -->
      <div class="text-center pb-2">
        <p class="set-password-welcome-head">Set a new password</p>
        <p class="set-password-welcome-text">Create a new password to access your account.</p>
      </div>

      <!-- FORM -->
      <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="set-password-form-container" novalidate>

        <!-- New Password -->
        <div class="set-password-form-group">
          <label>New Password</label>
          <mat-form-field appearance="outline" class="full-width custom-mat-field">
            <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Re-enter your new password"
              formControlName="password" />
            <button mat-icon-button matSuffix type="button" (click)="hideConfirm  = !hideConfirm ">
              <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            <!-- ✅ Validation messages inside mat-error -->
            <mat-error class="py-4"
              *ngIf="(passwordForm.get('confirmPassword')?.touched || submitted) && passwordForm.get('confirmPassword')?.hasError('required')">
              New password is required
            </mat-error>

            <mat-error
              *ngIf="(passwordForm.get('confirmPassword')?.touched || submitted) && passwordForm.get('confirmPassword')?.value !== passwordForm.get('password')?.value">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Confirm Password -->
        <div class="set-password-form-group">
          <label>Confirm Password</label>
          <mat-form-field appearance="outline" class="full-width custom-mat-field">
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm password"
              formControlName="confirmPassword" />
            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
              <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            <!-- Description / hint -->
            <mat-hint>Use at least 8 characters with a mix of letters and numbers</mat-hint>

            <!-- Material error messages -->
            <mat-error
              *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && (passwordForm.get('confirmPassword')?.touched || submitted)">
              Confirm password is required
            </mat-error>

            <mat-error
              *ngIf="passwordForm.hasError('mismatch') && (passwordForm.get('confirmPassword')?.touched || submitted)">
              Passwords do not match
            </mat-error>
          </mat-form-field>

        </div>

        <button class="set-password-btn mt-4" type="submit"
          [disabled]="passwordForm.invalid || passwordForm.hasError('mismatch')">Reset Password</button>
        <div class="set-password-back-button text-center mt-3">
          <a href="/sign-in">Back to Login</a>
        </div>

      </form>
    </div>
  </div>