<div class="form-group schedule-group">

  <label class="input-label" *ngIf="showScheduleDay">Schedule *</label>

  <!-- DAY ROW -->
  <div class="schedule-row" *ngIf="showScheduleDay">
    <div class="schedule-left-box">
      <div class="label">Schedule Day</div>
      <div class="divider"></div>

      <div class="selectdaydropdown">
        <app-form-select
          [(ngModel)]="fromDay"
          name="fromDay"
          [options]="days"
          placeholder="Sunday"
          label="">
        </app-form-select>
      </div>
    </div>

    <div class="arrow-container">
      <img src="/program/arrow-right.svg" alt="">
    </div>

    <div class="selectdaydropdown">
      <app-form-select
        [(ngModel)]="toDay"
        name="toDay"
        [options]="days"
        placeholder="Saturday"
        label="">
      </app-form-select>
    </div>
  </div>

  <!-- TIME ROW -->
  <div class="schedule-row">

    <div class="schedule-left-box">
      <div class="label">Schedule Time</div>
      <div class="divider"></div>

      <div class="selectdaydropdown">
        <app-form-select
          [(ngModel)]="fromTime"
          name="fromTime"
          [options]="times"
          placeholder="2:00 PM"
          label="">
        </app-form-select>
      </div>
    </div>

    <div class="arrow-container">
      <img src="/program/arrow-right.svg" alt="">
    </div>

    <div class="selectdaydropdown">
      <app-form-select
        [(ngModel)]="toTime"
        name="toTime"
        [options]="times"
        placeholder="3:00 PM"
        label="">
      </app-form-select>
    </div>

  </div>

</div>