
<div class="dialog-box p-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
        <div>
            <p class="main-title">Upload Broadcast Media</p>
            <p class="main-subtitle">Upload audio or video content for your program and prepare it for publishing in the Mallu Cafe Radio App.</p>
        </div>
        <button (click)="close()" class="btn-close mx-2" aria-label="Close"></button>
    </div>
    <hr />
    <div>
        <div class="d-flex gap-2">
            <img src="/media/one.svg" alt="">
            <span class="content-title">Upload Media File</span>
        </div>
    </div>
</div>