<div class="dialog-backdrop">
  <div class="dialog-box">

    <!-- ========================= -->
    <!-- STEP 1: Replace UI -->
    <!-- ========================= -->
    <ng-container *ngIf="!isUploading">

      <div class="py-4 text-center">
        <img src="/fileupload/fileupload-icon.svg" alt="">
      </div>

      <h2>Do you want to replace the currently uploaded file?</h2>

      <p class="file-name">{{item?.FileName}}</p>

      <div class="actions py-3">

        <app-muted-button class="btn-auto" (click)="onCancel()" [label]="'Cancel'" iconSrc="/main/close.svg">
        </app-muted-button>


        <app-primary-button class="btn-auto" (click)="triggerFileInput()" [label]="'Replace File'"
          iconSrc="/dash/publish.svg">
        </app-primary-button>
      </div>

    </ng-container>

    <!-- ========================= -->
    <!-- STEP 2: Upload UI -->
    <!-- ========================= -->
    <ng-container *ngIf="isUploading">

      <!-- Header -->
      <div class="header">
        <h2>Update file</h2>
        <button class="close-btn" (click)="onCancel()">✕</button>
      </div>

      <!-- Upload Box -->
      <div class="upload-box">

        <div class="progress-wrapper">
          <svg width="120" height="120">

            <!-- Background circle -->
            <circle cx="60" cy="60" r="50" class="bg">
            </circle>

            <!-- Progress circle -->
            <circle cx="60" cy="60" r="50" class="progress" [attr.stroke-dasharray]="circumference"
              [attr.stroke-dashoffset]="progressOffset" transform="rotate(-90 60 60)">
            </circle>

          </svg>

          <div class="progress-text">
            {{ uploadProgress }}%
          </div>
        </div>

        <!-- TEXT -->
        <p class="title p-0">
          {{ isCompleted ? fileBaseName + fileDate + '.mp3' : 'Wait a little bit..' }}
        </p>

        <span class="subtitle p-0">
          {{ isCompleted ? 'File uploaded successfully' : 'Uploading File' }}
        </span>

        <br>
        <div class="button-center">
          <app-muted-button class="btn-auto" (click)="isCompleted ? deleteFile() : cancelUpload()"
            [label]="isCompleted ? 'Delete' : 'Cancel'"
            [iconSrc]="isCompleted ? '/main/delete.svg' : '/main/close.svg'">
          </app-muted-button>
        </div>
        <!-- BUTTON -->

      </div>

      <div class="rename-row">

        <div class="rename-field">
          <span class="prefix">
            {{ item?.FileName || (item?.Title + '.mp3') }}
          </span>
        </div>

        <app-primary-button [label]="isFinishingUpload ? 'Uploading...' : 'Finish upload'" iconSrc="/main/uploaded.svg"
          [loading]="isFinishingUpload" [disabled]="isFinishingUpload" (clicked)="finishUpload()">
        </app-primary-button>

      </div>
    </ng-container>

    <input type="file" #fileInput hidden (change)="onFileSelected($event)" />

  </div>
</div>