/* create-button.component.css */
.btn-create {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 12px;
  height: 36px;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid color-mix(in srgb, var(--primary-color) 20%, transparent);
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
}