<div class="dialog-box">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center"
        style="padding-top: 24px; padding-left: 24px; padding-right: 24px;">

        <div>
            <p class="main-title">Edit Uploaded Media</p>

            <p class="main-subtitle">
                Update uploaded media details and replace files if needed.
            </p>
        </div>

        <button class="close-btn btn-cancel" (click)="close()">
            <img src="/program/close-circle.svg" alt="">
        </button>
    </div>

    <div class="custom-line mt-2"></div>

    <mat-dialog-content class="dialog-content custom-select-panel">

        <!-- STEP 1 -->
        <app-step-badge
            [stepNumber]="1"
            title="Upload Media File">
        </app-step-badge>

        <div class="px-4">

            <app-upload-box
                [uploadText]="'Replace Broadcast Media File'"
                [subText]="'Drag & drop your file here, or click to browse'"
                [accept]="'audio/mp3, video/mp4'"
                [sizeText]="'MP3, MP4 • Max size: 1.5 GB'"
                (fileSelected)="onFileSelected($event)">
            </app-upload-box>

        </div>

        <!-- Uploaded File Card -->
        <div class="px-3 mt-2">

            <div class="file-card d-flex gap-1 justify-content-between"
                *ngIf="fileName">

                <!-- Left Side -->
                <div class="file-info d-flex">

                    <!-- IMAGE -->
                    <img
                        *ngIf="isImageType()"
                        [src]="previewUrl"
                        class="file-icon" />

                    <!-- VIDEO -->
                    <video
                        *ngIf="isVideoType()"
                        [src]="previewUrl"
                        class="file-icon"
                        muted>
                    </video>

                    <!-- DEFAULT -->
                    <img
                        *ngIf="!isImageType() && !isVideoType()"
                        src="/upload/file-default.svg"
                        class="file-icon" />

                    <!-- File Details -->
                    <div class="d-flex file-details justify-content-between align-items-center w-100">

                        <div class="file-name text-truncate-custom">

                            {{ fileName }}

                            <img
                                src="/upload/green-tick.svg"
                                class="mb-1"
                                alt="">

                        </div>

                        <div class="file-size px-2">
                            {{ fileSize }}
                        </div>

                    </div>

                </div>

                <!-- Delete -->
                <div
                    (click)="removeFile()"
                    class="delete-btn">

                    <img src="/upload/trash-gray.svg" alt="">

                </div>

            </div>

        </div>

        <!-- Helper -->
        <p class="d-flex gap-1 pt-2 pb-3 helper-text px-4">

            <span class="material-symbols-outlined helper-text-icon">
                warning
            </span>

            <span>
                Supported formats: MP3, WAV, MP4
            </span>

        </p>

        <!-- Error -->
        <div class="error-text px-4" *ngIf="errors.file">

            <img
                src="/program/warn.svg"
                class="small mb-1">

            {{ errors.file }}

        </div>

        <div class="custom-line-sub"></div>

        <!-- STEP 2 -->
        <app-step-badge
            [stepNumber]="2"
            title="Program Information">
        </app-step-badge>

        <!-- Category -->
        <div class="form-row px-4">

            <app-form-select
                label="Category *"
                [options]="mediaTypeOptions"
                optionLabel="DisplyText"
                optionValue="DataValue"
                (modelChange)="onMediaTypeChange($event)"
                [(model)]="selectedMediaType">
            </app-form-select>

        </div>

        <!-- Dynamic Forms -->
        <div [ngSwitch]="selectedMediaType">

            <!-- PRE SCHEDULED -->
            <div
                *ngSwitchCase="'1'"
                [class.disabled-section]="!selectedMediaType">

                <app-pre-scheduled
                    [programList]="programList"
                    [fileType]="extension">
                </app-pre-scheduled>

            </div>

            <!-- PODCAST -->
            <div *ngSwitchCase="'2'">

                <app-podcast-file
                    [programList]="programList"
                    [fileType]="extension">
                </app-podcast-file>

            </div>

            <!-- VIDEO -->
            <app-video-file
                *ngSwitchCase="'3'"
                [fileName]="fileName"
                [fileType]="extension">
            </app-video-file>

            <!-- SHORTS -->
            <app-shorts
                *ngSwitchCase="'4'"
                [fileName]="fileName"
                [fileType]="extension">
            </app-shorts>

            <!-- DEFAULT -->
            <div *ngSwitchDefault>

                <div class="disabled-section">

                    <app-pre-scheduled
                        [programList]="programList"
                        [fileType]="extension">
                    </app-pre-scheduled>

                </div>

            </div>

        </div>

        <hr>

        <!-- Footer -->
        <div class="footer">

            <div class="dialog-actions d-flex justify-content-between my-4 mx-3 gap-2">

                <!-- Cancel -->
                <button
                    class="close-btn btn-cancel d-flex"
                    (click)="close()">

                    <img
                        src="/program/close-circle.svg"
                        width="16px"
                        alt="">

                    <p>Cancel</p>

                </button>

                <!-- Save -->
                <div class="d-flex gap-2">

                    <app-primary-button
                        (clicked)="saveChanges()"
                        [loading]="loading"
                        [label]="'Save Changes'"
                        iconSrc="/upload/tick-circle.svg">
                    </app-primary-button>

                </div>

            </div>

        </div>

    </mat-dialog-content>

</div>