<div class="dialog-box">
    <div class="d-flex justify-content-between  mb-1"
        style="padding-top: 24px;padding-left: 24px;padding-right: 24px;">
        <div>
            <p class="main-title">Add new podcast category</p>
            <p class="main-subtitle">Create a category to organize podcast episodes. This category will be available in the list <br> when adding new episodes.</p>
        </div>
        <button class="close-btn btn-cancel" (click)="close()">
    <img src="/program/close-circle.svg" alt="">
  </button>
    </div>
    
    <hr />
    <div class="dialog-content ">

       <div style="gap: 6px;">
         <div class="form-row px-4 ">
           
           
            <app-form-input label="Podcast Category Name *" placeholder="e.g. Music, Sports, Movies" name="programTitle"></app-form-input>

                <p class="helper-text" style="padding-bottom: 16px;">Once added, this category can be selected while creating podcast episodes.</p>
            
        </div>
        <div class="form-group px-4">
                <label class="input-label" for="thumbnail">Category Icon</label>

                <!-- <div class="file-upload">
                    <label class="upload-btn d-flex gap-2">
                        <input id="thumbnail" type="file" hidden />
                        <img src="/program/upload-icon.svg" alt="">

                        <p class="pt-3"> Upload Image
                        </p>
                    </label>

                    <span class="file-name px-2 input-label-noFile">- No file uploaded -</span>
                </div>
                <p class="helper-text">JPG, JPEG, PNG formats.</p> -->
                        <app-file-upload label="Upload Image" accept="image/*"
            (fileSelected)="onFileSelected($event)"></app-file-upload>
        <p class="helper-text">JPG, JPEG, PNG formats.</p>
            </div>

       </div>
        <div class="dialog-actions d-flex justify-content-between my-4 mx-3 gap-2">
          
                 <app-cancel-button class="pt-2" (click)=" close()"></app-cancel-button>
        <app-footer-button text="Add Category" icon="/upload/add-square.svg" type="button" class="mx-2">
        </app-footer-button>
           
        </div>

    </div>
</div>