<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-column justify-content-start">
            <p class="mainHead mb-1 ">Assigned Programs</p>
            <small class="subHeading">
                Shows you host and manage on the station.
            </small>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex gap-3">
            <img src="/profile/profile-pic.png" alt="profile" class="rounded" width="80" height="80"
                style="object-fit: cover;" />
            <div class=" d-flex flex-column gap-1">
                <span class="active-btn">
                    ● Active
                </span>
                <span class="radio-btn">
                    Hungama Radio
                </span>
                <span class="timing">
                    Sat - Sun • 12 - 2 pm
                </span>
            </div>
        </div>

    </div>

</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider>