<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <h6 class="fw-bold mb-1">Assigned Programs</h6>
        <small class="text-muted">
            Shows you host and manage on the station.
        </small>
    </div>
    <div class="col-md-3">
        <div class="d-flex gap-3">
            <img src="/profile/profile-pic.png"
                alt="profile" class="rounded" width="80" height="80" style="object-fit: cover;" />
            <div class=" d-flex flex-column gap-1">
                <span class="text-success small">
                    ● Active
                </span>
                <span class="fw-bold small">
                    Hungama Radio
                </span>
                <span class="text-muted">
                    Sat - Sun • 12 - 2 pm
                </span>
            </div>
        </div>

    </div>

</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider>