<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <p class="fw-bold mb-1">Performance Overview</p>
        <small class="text-muted">
            Insights from your shows and listener interactions.
        </small>
    </div>
    <div class="col-md-8">
       <ul class="list-unstyled d-flex gap-3 mb-0 mt-2 flex-wrap">

  @for (item of stats; track item) {
    <li class="d-flex align-items-center gap-1 text-[20px]">

      <span class="material-symbols-outlined">
        {{ item.icon }}
      </span>

     <span>{{ item.label }}</span>

      @if (item.trendIcon) {
        <span class="material-symbols-outlined" [ngClass]="item.trendColor">
          {{ item.trendIcon }}
        </span>
      }

    </li>
  }

</ul>
    </div>

</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider>