<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <p class="fw-bold mb-1">Performance Overview</p>
        <small class="text-muted">
            Insights from your shows and listener interactions.
        </small>
    </div>
    <div class="col-md-8">
        <ul class="list-unstyled d-flex gap-4 mb-0 mt-2">

            <li class="d-flex gap-1">
                <span class="material-symbols-outlined">
                    mic
                </span>
                <span>Shows Hosted: 120</span>
            </li>
            <li class="d-flex gap-1">
                <span class="material-symbols-outlined">
                    headphones
                </span>
                <span>Listener Engagement: 85%</span>
                <span class="material-symbols-outlined text-success">
                    trending_up
                </span>
            </li>
            <li class="d-flex gap-1">
                <span class="material-symbols-outlined"> favorite</span>
                <span>Favourites: 1450</span>
            </li>
            <li class="d-flex gap-1">
                <span class="material-symbols-outlined">
                    call
                </span>
                <span>Calls Received: 310</span>
            </li>

        </ul>
    </div>

</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider>