<div class="dialog-box">


    <div class="heading-box d-flex justify-content-between align-items-center">
        <div style="gap: 4px;">
            <p class="main-title">Add Team Member</p>
            <p class="main-subtitle"> Add a new team member to manage programs, host shows or assist with station
                operations.
            </p>
        </div>

        <button class="close-btn btn-cancel" (click)="close()">
            <img src="/program/close-circle.svg" alt="">
        </button>
    </div>
    <div class="custom-line "></div>

    <mat-dialog-content class="dialog-content custom-select-panel">

        <div class="d-flex align-items-center gap-2 section-title px-4">
            <div class="step-badge">1</div>
            <p class="subtitle mb-0">Profile Information</p>
        </div>

        <div class="d-flex gap-3 px-4">
            <div class="upload-wrapper">
                <div class="upload-photo" [ngStyle]="previewUrl ? {'background-image': 'url(' + previewUrl + ')'} : {}">
                    <!-- <img [src]="previewUrl || '/team/profile-circle.svg'" alt="user" class="profile-img"> -->
                    <img *ngIf="!previewUrl" src="/team/profile-circle.svg" alt="user" class="profile-img">
                    <label class="upload-btn">
                        <input type="file" accept="image/*" hidden (change)="onPhotoSelected($event)" />
                        <span>Upload Photo</span>
                    </label>
                </div>
                <p class="helper-text py-1">Supported formats: JPG, PNG</p>
            </div>
            <div>

                <div style="width: 376px;">
                    <!-- <app-form-input label="Full Name *" placeholder="eg. Shabin B Joe" name="Title"  ></app-form-input> -->

                    <app-form-input [(model)]="fullName" name="fullName" placeholder="eg. Shabin B Joe"
                        label="Full Name *">
                    </app-form-input>

                </div>

                <app-form-select label="Role / Designation" [model]="role" (modelChange)="onRoleChange($event)"
                    name="role" [options]="roles" optionLabel="DisplyText" optionValue="DataValue">
                </app-form-select>

                <p class="helper-text" style="padding-top: 6px;">This role defines the member’s responsibility in the
                    station.</p>
            </div>
        </div>
        <div class="custom-line-sub"></div>

        <div class="d-flex align-items-center px-4 gap-2 section-title">
            <div class="step-badge">2</div>
            <p class="subtitle mb-0 ">Contact Information</p>
        </div>

        <!-- <div class="form-row  d-flex justify-content-between mb-4">
            <div class="form-group mobile-group ">
                <label class="input-label">Mobile Number *</label>

                <div class="phone-input ">
                    <div class="countrycode">+1</div>

                    <input type="text" class="phone-number" [(ngModel)]="phone" name="phone"
                        placeholder="000 000 0000" />
                </div>

                <small class="helper-text">Used for internal communication.</small>
            </div>

            <div class="form-group email-group">
                <label class="input-label">Email *</label>
                <div style="gap: 0px;">
                    <input type="text" class="input-field email-input px-2" [(ngModel)]="email" name="email"
                        placeholder="e.g., test@gmail.com" />
                    <p class="helper-text pt-1">This email will be used for login access &
                        communication.</p>
                </div>

            </div>
        </div> -->
        <div class="custom-line-sub"></div>

        <div class="d-flex align-items-center gap-2 section-title px-4">
            <div class="step-badge">3</div>
            <p class="subtitle mb-0">Program Assignment</p>
        </div>

        <div class="px-4">
            <!-- <mat-form-field class="assigned-programs" appearance="outline">

                <mat-select multiple [(value)]="selectedPrograms" placeholder="- Select Program Category -"
                    panelClass="custom-select-panel">

                    <mat-select-trigger class="bg-white">
                        <mat-chip-set>
                            @for (item of selectedPrograms; track item) {
                            <mat-chip [removable]="true" (removed)="remove(item)">
                                {{ item.DisplayText }}
                                <button matChipRemove class="small" style="color: var(--primary-color)">✕</button>
                            </mat-chip>
                            }
                        </mat-chip-set>
                    </mat-select-trigger>

                    @for (item of programList; track item) {
                    <mat-option [value]="item">
                        {{ item.DisplayText }}
                    </mat-option>
                    }

                </mat-select>
            </mat-form-field> -->
            <app-form-multiselect label="Assigned Programs" [options]="programList" [(selectedItems)]="selectedPrograms"
                placeholder="-Select program-" optionLabel="DisplayText">
            </app-form-multiselect>
        </div>

        <p class="helper-text py-2 px-4">Multiple programs can be assigned.</p>
        <div class="custom-line-sub"></div>

        <div class="d-flex align-items-center gap-2 px-4 section-title">
            <div class="step-badge">4</div>
            <p class="subtitle mb-0">Account Access & Permissions *</p>
        </div>

        <div class="auto-play-wrapper px-4">

            <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="isFullAccess" (change)="onToggleChange()">
                <span class="slider round"></span>
            </label>

            <span class="toggle-txt">Allow system access</span>

        </div>
        <p class="helper-text px-4 pt-2">Switch this on to allow full access — all permissions will be selected for you.
        </p>
        <p class="input-label px-4 ">Access rights and system privilages </p>
        <div class="checkbox-container">
            <span class="px-4 py-1" *ngFor="let item of permissions">

                <label class="access-txt">
                    <input type="checkbox" [(ngModel)]="item.checked" name="permission-{{item.name}}" />
                    {{ item.name }}
                </label>
            </span>
        </div>

        <div class="custom-line mt-3"></div>

        <div class="dialog-actions d-flex justify-content-between align-items-center mt-4">
            <button class="close-btn btn-cancel d-flex" (click)="close()">
                <img src="/program/close-circle.svg" width="16px" alt="">
                <p>Cancel</p>
            </button>

            <app-primary-button [loading]="loading"  (click)="addTeamMemberClick()" style="margin-right: 24px;" label="Add Member"
                iconSrc="/main/add.svg"></app-primary-button>


        </div>

    </mat-dialog-content>

</div>