<div class="form-group">
  <label class="input-label">{{ label }} *</label>

  <div class="select-wrapper">
    <select
      class="input-field"
      [(ngModel)]="model"
      [name]="name"
      [ngClass]="{'selected': model}"  
    >
      <!-- Use placeholder input if passed, fallback to label -->
      <option value="" disabled hidden>
        {{ placeholder || 'Select ' + label }}
      </option>

      <option *ngFor="let item of options" [value]="item">{{ item }}</option>
    </select>

    <img src="/program/dropdown.svg" class="dropdown-icon" alt="">
  </div>
</div>