<div class="form-group">
  <label class="input-label">{{ label }} *</label>

  <div class="select-wrapper">

    <!-- Selected display -->
    <div
      class="input-field"
      tabindex="0"
      (click)="toggleDropdown()"
      [ngClass]="{ 'selected-border': model }"
    >
      {{ getSelectedLabel() || placeholder || ('Select ' + label) }}
    </div>

    <!-- Dropdown -->
    <div class="dropdown" *ngIf="open">
      <div
        class="option"
        *ngFor="let item of options"
        (click)="select(item)"
      >
        {{ getLabel(item) }}
      </div>
    </div>

    <img src="/program/dropdown.svg" class="dropdown-icon" alt="">
  </div>
</div>