.main-body {
  background-color: #FFFFFF;
  padding: 2%;
}

.schedules-content {
  border: 1px solid #E4E4E4;
  border-radius: 20px;
}

.time {
  font-size: 10px;
  color: #9A9A9A;
}

.main-Heading {
  font-family: Poppins;
  font-size: 14px;
  font-style: SemiBold;
  font-weight: 600;
  color: #000000;
}

.media-file {
  font-size: 12px;
  font-weight: 400;
  color: #312F2F;
}

.sub-heading {
  font-family: Poppins;
  font-size: 10px;
  font-style: Regular;
  font-weight: 400;
  color: #312F2F;
}

.onAir {
  font-family: Poppins;
  font-size: 12px;
  font-style: SemiBold;
  font-weight: 400;
  color: #00AA45;
}

.card-title {
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  height: 21px;
}

.card-title-movies {
  font-family: Red Hat Display;
  font-size: 12px;
  font-style: bold;
  font-weight: 500;
  height: 21px;
}

.card-subtitle {
  font-family: Red Hat Display;
  font-size: 12px;
  font-weight: 500;
  height: 20px;

}

.files {
  font-weight: 400;
  font-size: 12px;
  color: #312F2F;
}

.play-btn {
  width: 45px;
  height: 45px;
}

.duration {
  font-family: Red Hat Display;
  font-size: 10px;
  font-weight: 500;
  color: #FFA4A4;
}

.playAd {
  font-family: Red Hat Display;
  font-size: 12px;
  font-style: bold;
  font-weight: 700;
  color: #CE111F;
  /* margin: 10px; */
  border-radius: 20px;

}

.card-OnAir {
  background-color: #39B54A;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  font-family: Red Hat Display;
}

.extraData {
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.extraData2 {
  font-family: Red Hat Display;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-range::-moz-range-track {
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.custom-range::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
}

.gotoFile {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #D9D9D9;
  color: var(--muted-input);
  border-radius: 4px;
  padding: 9px;
}

.gotoFile-movies {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--muted-input);
  background: #D9D9D94D;
  border-radius: 4px;
  padding: 9px;
}

mat-slider {
  width: 100%;
  color: white;
}

.custom-card-bg {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #B84141, #950000);
  border-radius: 16px;
  z-index: 0;

}

.custom-card-bg-movies {
  overflow: hidden;
  border-radius: 16px;
  background:
    radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.749) 100%),
    url('/dash/bg-movies.jpg');
  background-position-y: 20%;
  background-size: cover;
}

.custom-card-bg::after {
  content: "";
  position: absolute;
  width: 252.87px;
  height: 252.87px;
  background: linear-gradient(to left, #B52626, #A01717);
  border-radius: 50%;
  top: -80px;
  left: -80px;
  z-index: -1;
  box-shadow: #c43434;
}

.custom-card-bg::before {
  /* Smaller circle */
  content: "";
  position: absolute;
  width: 89.41px;
  height: 89.41px;
  background: linear-gradient(to left, #B52626, #A01717);
  border-radius: 50%;
  top: 12px;
  left: 130px;
  z-index: -1;
}