.dialog-box {
  width: 600px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Content spacing */
.dialog-content {
  display: flex;
  flex-direction: column;
}

/* Input spacing */
.dialog-content app-form-input {
  display: block;
  margin-bottom: 12px;
}

/* Footer */
::ng-deep .mat-mdc-dialog-content {
  padding: 0 !important;
}

::ng-deep .mat-mdc-dialog-actions {
  border-top: 1px solid #eee;
}

/* Cancel button */
.btn-cancel {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #636363;
  cursor: pointer;
}

/* Submit button */
.btn-create {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid color-mix(in srgb, var(--primary-color) 20%, transparent);
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
}