<div class="dialog-box ">

  <app-dialog-header-component 
    [title]="'Change Password'" 
    [subtitle]="'Create a new password to access your account'"
    (closeClicked)="close()">
  </app-dialog-header-component>

  <mat-dialog-content class="dialog-content">

    <div class="px-4 py-4">

      <app-form-input 
        label="New Password *"
        [(model)]="newPassword"
        type="password"
        placeholder="Enter new password"
        name="newPassword">
      </app-form-input>

      <app-form-input 
        label="Confirm Password *"
        [(model)]="confirmPassword"
        type="password"
        placeholder="Confirm new password"
        name="confirmPassword">
      </app-form-input>

    </div>

    <mat-dialog-actions align="end" class="gap-3 px-4 py-4">

      <button class="close-btn btn-cancel d-flex align-items-center gap-1" (click)="close()">
        <img src="/program/close-circle.svg" width="16px">
        <span>Cancel</span>
      </button>

      <button class="btn-create d-flex align-items-center gap-1" (click)="submit()">
        <img src="/upload/tick-circle.svg">
        <span>Reset Password</span>
      </button>

    </mat-dialog-actions>

  </mat-dialog-content>

</div>