<div class="dialog-box ">

  <app-dialog-header-component 
    [title]="'Set A New Password'" 
    [subtitle]="'Create a new password to access your account'"
    (closeClicked)="close()">
  </app-dialog-header-component>

  <mat-dialog-content class="dialog-content">

    <div class="px-4 py-4">

        <app-form-input 
        label="New Password "
        [(model)]="newPassword"
        type="password"
        placeholder="Enter your new password"
        name="newPassword">
      </app-form-input>

        <app-form-input 
        label="Confirm Password "
        [(model)]="confirmPassword"
        type="password"
        placeholder="Re-enter your new password"
        name="confirmPassword">
      </app-form-input>

      

       <mat-hint class="hint-row">
  <mat-icon>warning</mat-icon>
  <span>Use at least 8 characters with a mix of letters and numbers.</span>
</mat-hint>

    </div>

    <mat-dialog-actions align="end" class="py-4 px-3 gap-3">

  
         <button class="close-btn btn-cancel d-flex align-items-center gap-1" (click)="close()">
        <img src="/program/close-circle.svg" width="16px">
        <span>Cancel</span>
      </button>

      <button class="btn-create d-flex align-items-center gap-1" (click)="resetPassword()">
        <img src="/upload/tick-circle.svg">
        <span>Reset Password</span>
      </button>
     

    </mat-dialog-actions>

  </mat-dialog-content>

</div>