<div class="dialog-box ">

  <app-dialog-header-component [title]="'Set A New Password'"
    [subtitle]="'Create a new password to access your account'" (closeClicked)="close()">
  </app-dialog-header-component>

  <mat-dialog-content class="dialog-content">

    <div class="px-4 py-4">

      <!-- NEW PASSWORD -->
      <app-form-input label="New Password" [(model)]="newPassword" (modelChange)="newPasswordTouched = true"
        type="password" placeholder="Enter your new password">
      </app-form-input>

      <!-- New Password Errors -->
      <mat-hint class="text-danger" *ngIf="newPasswordTouched && !newPassword">
        New password is required
      </mat-hint>

      <mat-hint class="text-danger" *ngIf="newPasswordTouched && newPassword && newPassword.length < 8">
        Minimum 8 characters required
      </mat-hint>


      <!-- CONFIRM PASSWORD -->
      <app-form-input label="Confirm Password" [(model)]="confirmPassword" (modelChange)="confirmPasswordTouched = true"
        type="password" placeholder="Re-enter your new password">
      </app-form-input>

      <!-- Confirm Password Errors -->
      <mat-hint class="text-danger" *ngIf="confirmPasswordTouched && !confirmPassword">
        Confirm password is required
      </mat-hint>

      <mat-hint class="text-danger"
        *ngIf="confirmPasswordTouched && confirmPassword && newPassword !== confirmPassword">
        Passwords do not match
      </mat-hint>


      <!-- Info -->
      <mat-hint class="hint-row gap-2">
        <mat-icon class="px-2">warning</mat-icon>
        <span>Use at least 8 characters with a mix of letters and numbers.</span>
      </mat-hint>

    </div>

    <mat-dialog-actions align="end" class="py-4 px-3 gap-3">

      <button class="close-btn btn-cancel d-flex align-items-center gap-1" (click)="close()">
        <img src="/program/close-circle.svg" width="16px">
        <span>Cancel</span>
      </button>

      <button class="btn-create d-flex align-items-center gap-1"
        [disabled]="!newPassword || !confirmPassword || newPassword !== confirmPassword || newPassword.length < 8"
        (click)="resetPassword()">
        <img src="/upload/tick-circle.svg">
        <span>Reset Password</span>
      </button>

    </mat-dialog-actions>

  </mat-dialog-content>

</div>