<div class="dialog-box ">
    <div class="heading-box d-flex justify-content-between align-items-center">
        <div>
            <p class="main-title">
                {{ isEditMode ? 'Edit Advertisement' : 'Add New Advertisement' }}
            </p>
            <p class="main-subtitle">
                {{ isEditMode
                ? 'Update your advertisement details and schedule'
                : 'Upload and schedule your ad campaign'
                }}
            </p>
        </div>
        <button class="close-btn btn-cancel" (click)="close()">
            <img src="/program/close-circle.svg" alt="">
        </button>

    </div>
    <div class="custom-line"></div>
    <mat-dialog-content class="dialog-content custom-select-panel px-4">

        <app-step-badge [stepNumber]="1" title="Advertisement Details"></app-step-badge>

        <div class="form-row">
            <div class="form-group">

                <app-form-input label="Ad Title / File Name *" placeholder="eg. Onam Special Offer Ad"
                    name="programTitle" [(model)]="programTitle"></app-form-input>
                <div class="error-text" *ngIf="errors.programTitle">
                    {{ errors.programTitle }}
                </div>

                <div class="helper-text">Internal name for easy identification</div>
            </div>
            <div class="form-group" style="padding-top: 16px;">

                <app-form-input label="Advertiser Name*" placeholder="eg. Kerala Spice Restaurant" name="AdvertiserName"
                    [(model)]="AdvertiserName"></app-form-input>
                <div class="error-text" *ngIf="errors.AdvertiserName">
                    {{ errors.AdvertiserName }}
                </div>

            </div>
        </div>
        <div class="custom-line-sub"></div>

        <div class="d-flex align-items-center gap-2 section-title px-4">
            <div class="step-badge">2</div>
            <p class="content-title mb-0">Upload Media</p>
        </div>
        <div class="px-4">

            <app-upload-box [uploadText]="'Upload Advertisement File'"
                [subText]="'Drag & drop your file here, or click to browse'" [accept]="'image/*, audio/*, video/*'"
                [sizeText]="'MP3, MP4 • Max size: 1.5 GB'" (fileSelected)="onFileSelected($event)"></app-upload-box>

            <div class="error-text px-4" *ngIf="errors.file">
                {{ errors.file }}
            </div>
        </div>
        <p class="d-flex gap-1 pt-2 mb-4 helper-text px-4 ">
            <span class="">File Preview
            </span>
        </p>

        <div class="upload-container">
            <div class="d-flex align-items-center justify-content-between file-preview">

                <!-- LEFT SIDE -->
                <div class="d-flex align-items-center gap-2">
                    <img src="/dash/file-preview.svg" width="24px" height="24px" alt="">

                    <div>
                        <p class="title mb-0">
                            {{ fileName || 'No file selected' }}
                        </p>
                        <p class="subtitle mb-0">
                            Upload an audio, video or image file to continue
                        </p>
                    </div>
                </div>


                <button (click)="deleteUpload(fid)"  *ngIf="isEditMode && fileName" class="btn-delete d-flex align-items-center justify-content-center">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
        </div>
        <div class="custom-line-sub" style="margin-top: 36px;"></div>

        <app-step-badge [stepNumber]="3" title="Schedule Advertisement"></app-step-badge>

        <div class="px-4 mb-4">
            <label class="input-label my-2">Schedule</label>

            <app-schedule-date-range [(fromDate)]="fromDate" [(toDate)]="toDate">
            </app-schedule-date-range>
            <!-- Date Errors -->
            <div class="error-text" *ngIf="errors.fromDate">
                {{ errors.fromDate }}
            </div>

            <div class="error-text" *ngIf="errors.toDate">
                {{ errors.toDate }}
            </div>

            <div class="error-text" *ngIf="errors.date">
                {{ errors.date }}
            </div>

            <!-- <app-schedule-picker [(model)]="scheduleModel" [showScheduleDay]="false"></app-schedule-picker> -->
<app-input-time
  [(model)]="scheduleModel">
</app-input-time>

            <div class="error-text" *ngIf="errors.time">
                {{ errors.time }}
            </div>

            <p class="helper-text pt-1">(Schedule time slot is optional. Leave empty for 24/7 streaming.)</p>
        </div>

        <div class="custom-line-sub px-4"></div>


        <app-step-badge [stepNumber]="4" title="Playback Settings"></app-step-badge>



        <div class="px-4 mb-4 mt-2 d-flex justify-content-between align-items-start gap-4">
            <div class="w-50">
                <label class="input-label mb-2">No. of Plays per Day *</label>
                <div class="counter-input-group d-flex align-items-center mb-1">
                    <button class="counter-btn" (click)="decrementPlays()">
                        <i class="material-symbols-outlined">remove</i>
                    </button>
                    <input type="number" class="counter-input text-center" [(ngModel)]="playsPerDay" min="0" />
                    <div class="error-text" *ngIf="errors.playsPerDay">
                        {{ errors.playsPerDay }}
                    </div>
                    <button class="counter-btn" (click)="incrementPlays()">
                        <i class="material-symbols-outlined">add</i>
                    </button>
                </div>
                <p class="helper-text">How many times to play daily</p>
            </div>

            <div class="w-50">
                <div class="est-plays-box d-flex gap-3 align-items-center p-3">
                    <div class="est-icon-box">
                        <i class="material-symbols-outlined">bar_chart</i>
                    </div>
                    <div>
                        <p class="est-title mb-0">Est. Total Plays</p>
                        <p class="est-value mb-0">18 Plays</p>
                        <p class="est-subtitle mb-0">14 days x 5 plays/day</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-line-sub px-4"></div>

        <app-step-badge [stepNumber]="5" title="Status"></app-step-badge>


        <div class="px-4 mb-4 mt-3">
            <div class="d-flex gap-3" style="height: 78px;">
                <!-- Active Card -->
                <div class="status-card active-card w-50 p-2" [class.selected]="selectedStatus === 'active'"
                    (click)="selectedStatus = 'active'">
                    <div class="d-flex gap-2">
                        <div class="radio-circle" [class.active-checked]="selectedStatus === 'active'">
                            <div class="radio-inner" *ngIf="selectedStatus === 'active'" style="color: #D80905;"></div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <span class="dot success"></span>
                                <span class="status-title active-color">Active</span>
                            </div>
                            <div>
                                <span class="status-chip active-chip">Start Immediately</span>
                                <p class="status-desc mb-1">Go live as per schedule</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Waiting Card -->
                <div class="status-card waiting-card w-50 p-2" [class.selected]="selectedStatus === 'waiting'"
                    (click)="selectedStatus = 'waiting'">
                    <div class="d-flex gap-2">
                        <div class="radio-circle flex-shrink-0" [class.waiting-checked]="selectedStatus === 'waiting'">
                            <div class="radio-inner" *ngIf="selectedStatus === 'waiting'" style="color: #F2C94C;"></div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <span class="status-title waiting-color flex-shrink-0 d-flex gap-1">
                                    <img src="/dash/danger.svg" alt="">
                                    Waiting List
                                </span>
                            </div>
                            <span class="status-chip waiting-chip">Start Immediately</span>

                            <p class="status-desc mb-2">Admin approval required</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-line-sub px-4"></div>

        <!-- Additional Notes -->
        <div class="px-4 my-3">
            <label class="input-label mb-2">Additional Notes *</label>
            <textarea class="textarea-field w-100 p-2 input-field" rows="3"
                placeholder="eg. any special instructions, terms or notes for this advertisement."
                [(ngModel)]="additionalNotes"></textarea>
            <p class="helper-text mt-1">Optional: Add any specific requirements or comments.</p>
        </div>
        <div class="custom-line-sub px-4 "></div>

        <div class="py-2 px-4">
            <p class="checkbox-title">Choose where this ad should be delivered to users. You can select one or both
                options.</p>
            <div class="d-flex gap-3">
                <app-checkbox [(checked)]="adsEnabled" title="Between Programs (Audio/Video Ads)"
                    description="Play during scheduled programs">
                </app-checkbox>

                <app-checkbox title="Featured Promotions Section" description="Display in the app home screen"
                    [(checked)]="promotionsEnabled">
                </app-checkbox>
            </div>
             <div class="error-text" *ngIf="errors.delivery">
    {{ errors.delivery }}
  </div>
        </div>

        <hr>
        <!-- Footer -->
        <div class=" px-4 py-3 d-flex justify-content-between align-items-center">
            <button class="close-btn btn-cancel d-flex" (click)="close()">
                <img src="/program/close-circle.svg" width="16px" alt="">
                <p class="">Cancel</p>
            </button>




            <button (click)="isEditMode ? editAdvertisement() : addAdvertisement()"
                class="footer-btn btn-publish d-flex align-items-center justify-content-center" [disabled]="loading">

                <ng-container *ngIf="loading; else normalContent">
                    <mat-progress-spinner diameter="20" strokeWidth="3" mode="indeterminate">
                    </mat-progress-spinner>
                </ng-container>

                <ng-template #normalContent>
                    <i class="material-symbols-outlined action-icon">cloud_upload</i>
                    <span>
                        {{ isEditMode ? 'Update File' : 'Upload File' }}
                    </span>
                </ng-template>

            </button>
            

        </div>
    </mat-dialog-content>
</div>