@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

body {
  background-color: #F5F5F5;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}



:root {
  --primary-color: #D80905;
  --secondary-color: #F37127;
  --muted-text: #9A9A9A;
  --primary-text: #312F2F;
  --muted-label: #636363;
  --muted-input: #757575;
  --success: #00AA45;
  --success-dark: #39B54A;
  --border-color: #0000001F;
  --border: #E4E4E4;
  --secondary-font: 'Red Hat Display', sans-serif;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.mat-mdc-table,
.mat-mdc-header-cell,
.mat-mdc-cell,
.mat-mdc-paginator,
.mat-mdc-button,
.mat-mdc-form-field,
.mat-mdc-card,
.mat-mdc-dialog-container {
  font-family: 'Poppins', sans-serif !important;
  color: var(--primary-text);
}

.mat-mdc-select-value,
.mdc-floating-label,
.mat-mdc-option .mdc-label,
.mat-mdc-radio-button .mdc-label {
  font-size: 12px;
  font-family: 'Poppins', sans-serif !important;
}

/* Force ALL dialogs to have border radius */
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px !important;
  overflow: hidden;
}


.mat-mdc-radio-button .mdc-radio__inner-circle {
  background-color: #D80905 !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__outer-circle {
  border-color: #D80905 !important;

}

.input-field:focus {
  outline: none;
  color: var(--primary-text) !important;
  border: 1px solid #D8090580 !important;
}


