@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

body {
    background-color: #F5F5F5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #D80905;
    --secondary-color: #F37127;
    --muted-text: #9A9A9A;
    --primary-text: #312F2F;
}