<div class="navbar d-flex justify-content-between align-items-center p-3">

    <div class="song-section d-flex align-items-center gap-4">

        <!-- NEXT (always) -->
        <div class="song next d-flex flex-column" *ngIf="nextSong">
            <p class="mb-0 title fw-semibold">{{ nextSong.title }}</p>
            <p class="mb-0 status d-flex align-items-center gap-1">
                <img src="/main/navbar/info.svg" class="icon-sm" />
                <span class="text-muted">Next</span>
            </p>
        </div>

        <div class="divider" *ngIf="currentSong && nextSong"></div>

        <div class="song current d-flex flex-column" *ngIf="currentSong">
            <p class="mb-0 title fw-semibold">{{ currentSong.title }}</p>
            <p class="mb-0 status d-flex align-items-center gap-1">
                <span class="material-icons icon-sm text-success">
                    radio_button_checked
                </span> On Air
            </p>
        </div>

    </div>

    <div class="nav-right">
        <div>

        </div>
        <div class="profile d-flex align-items-center gap-4">

            <!-- <div class="notification">
                <img src="/main/bell.svg" class="bell-icon" />
            </div> -->
            <div class="notification">
                <button class="notification-btn" mat-icon-button [matMenuTriggerFor]="notificationMenu"
                    [matBadge]="notifications.length" [matBadgeHidden]="notifications.length === 0"
                    matBadgeColor="warn">

                    <img src="/main/bell.svg" class="bell-icon" />
                </button>
            </div>

            <mat-menu #notificationMenu="matMenu" class="notification-menu">

                <div class="notification-header px-3 py-1">
                    <h4 class="notification-heading pt-2">Notifications</h4>
                </div>

                <mat-divider></mat-divider>

                <!-- No Notifications -->
                <div *ngIf="notifications.length === 0" class="text-center p-3 text-muted">
                    No notifications
                </div>

                <!-- Notifications List -->
                <div *ngIf="notifications.length > 0" class="notification-list">

                    <button mat-menu-item *ngFor="let notification of displayedNotifications">

                        <div class="notification-item">
                            <div class="notification-title">
                                {{ notification.Title }}
                            </div>

                            <div class="notification-message">
                                {{ notification.Message }}
                            </div>

                            <small class="text-muted">
                                {{ notification.CreatedAtDate }}
                                •
                                {{ notification.CreatedAtTime }}
                            </small>
                        </div>
                    </button>
                </div>

                <mat-divider *ngIf="notifications.length > 3"></mat-divider>

                <!-- View More -->
                <button   mat-menu-item *ngIf="notifications.length > 3 && !showAllNotifications"
                    (click)="$event.stopPropagation(); showAllNotifications = true">
                    <span class="notification-view">View More</span>
                  
                </button>

                <!-- View Less -->
                <button  mat-menu-item *ngIf="showAllNotifications && notifications.length > 3"
                    (click)="$event.stopPropagation(); showAllNotifications = false">
                  <span class="notification-view"> View Less</span>
                   
                </button>

            </mat-menu>


            <div (click)="navigateToProfile()" class="d-flex align-items-center gap-1">
                <img [src]="profile?._url || '/profile/profile-fallback-1.png'" class="profile-img" />
                <span class="username"> {{ profile?.FullName || 'User' }}</span>
                <!-- <span class="material-icons icon-sm dropdown-icon">
                    keyboard_arrow_down
                </span> -->
            </div>

        </div>
    </div>

</div>