<div class="bg-container d-flex flex-column">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="login-card d-flex">

      <div class="logo d-flex align-items-center justify-content-center">
        <img src="/auth/Frame.png" alt="">
      </div>

      <div class="signin-form d-flex align-items-center justify-content-center">
        <div>

          <div class="d-flex justify-content-center pt-2">
            <img src="/auth/mike.svg" alt="">
          </div>

          <div class="text-center pt-3 mb-4">
            <p class="welcome-head">Welcome Back!</p>
            <p class="welcome-text">Login in to your dashboard</p>
          </div>
          <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="loginclick()" novalidate>

              <div class="form-group pb-4">
                <label>Email Address</label>

                <mat-form-field appearance="outline" class="full-width custom-mat-field">
                  <input matInput type="email" placeholder="e.g. smithjohn45@gmail.com" formControlName="email" />

                  @if (loginForm.get('email')?.hasError('required')) {
                  <mat-error>Email is required</mat-error>
                  }
                  @if (loginForm.get('email')?.hasError('email')) {
                  <mat-error>Invalid email format</mat-error>
                  }
                </mat-form-field>


              </div>

              <div class="form-group">
                <label>Password</label>

                <mat-form-field appearance="outline" class="full-width custom-mat-field">

                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
                    formControlName="password" />

                  <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>

                  @if (loginForm.get('password')?.hasError('required')) {
                  <mat-error>Password is required</mat-error>
                  }
                </mat-form-field>
                <div class="text-end ">
                  <a href="/forgot-password" class="forgot-link">Forgot Password?</a>
                </div>
              </div>
              <!-- <button class="login-btn mt-4" type="submit" [disabled]="loginForm.invalid">
                Log In
              </button> -->
              <button
  class="login-btn mt-4"
  type="submit"
  [disabled]="loginForm.invalid || loading"
>
  <span *ngIf="!loading">Log In</span>
  <span *ngIf="loading" class="spinner-wrapper">
    <mat-spinner diameter="20" ></mat-spinner>
  </span>
</button>
              <div class="help-text pt-3">
                Need help?<a href="#">Contact Support</a>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer-text">
    &copy; 2026 <span class="brand">SwiftKode</span>. All rights reserved.
  </div>
</div>