<div class="row gap-2">
  <div class="col-md-3">
    <div class="d-flex flex-column justify-content-start">
      <p class="mainHead mb-1 ">Permissions</p>
      <small class="subHeading">
        Access rights and system privileges.
      </small>
    </div>
  </div>
  <div class="col-md-8">
    <!-- <ul class="list-unstyled d-flex gap-3 mb-0 flex-wrap">

      @for (item of permissions; track item) {
      <li class="d-flex gap-2 align-items-center">

        <span class="material-symbols-outlined icon-box d-flex align-items-center justify-content-center"
          [ngClass]="item.checked ? 'icon-success' : 'icon-fail'">

          {{ item.checked ? 'check' : 'close' }}
        </span>

        <span class="PerformanceData">
          {{ item.name }}
        </span>

      </li>
      }

    </ul> -->
    <ul class="list-unstyled d-flex gap-3 mb-0 flex-wrap">

  @for (item of permissions; track item) {
  <li class="d-flex gap-2 align-items-center">

    <span
      class="custom-checkbox"
      [ngClass]="item.checked ? 'checked' : 'unchecked'">

      <span class="symbol">
        {{ item.checked ? '✓' : '✕' }}
      </span>

    </span>

    <span class="PerformanceData">
      {{ item.name }}
    </span>

  </li>
  }

</ul>
  </div>

</div>