<div class="row gap-2">
    <div class="col-md-3 justify-content-start">
        <p class="fw-bold mb-1">Permissions</p>
        <small class="text-muted">
            Access rights and system privileges.
        </small>
    </div>
<div class="col-md-8">
  <ul class="list-unstyled d-flex gap-3 mb-0 flex-wrap">

    @for (item of permissions; track item) {
      <li class="d-flex gap-1 align-items-center">
        <span
          class="material-symbols-outlined bg-dark text-white rounded d-flex align-items-center justify-content-center"
          style="width: 20px; height: 20px; font-size: 14px;">
          {{ item.icon }}
        </span>

        <span>{{ item.name }}</span>
      </li>
    }
  </ul>
</div>

</div>
<mat-divider class="text-secondary bg-muted my-4"></mat-divider>