<div class="dialog-box">
    <app-dialog-header-component [title]="'Member Management Actions'"
        [subtitle]="' Manage this member’s profile, assigned programs, and account status.'" (closeClicked)="close()">
    </app-dialog-header-component>
    <mat-dialog-content class="dialog-content custom-select-panel">

        <div class="d-flex align-items-center gap-2 section-title px-4">
            <div class="step-badge">1</div>
            <p class="subtitle mb-0">Profile Information</p>
        </div>

        <div class="d-flex gap-3 px-4">
            <div class="upload-wrapper">
                <!-- <div class="upload-photo"
                    [ngStyle]="{'background-image': 'url(' + getProfileImage(profile?._url) + ')'}"> -->
                <div class="upload-photo" [class.landscape-image]="isLandscape" [ngStyle]="{
    'background-image': 'url(' + getProfileImage(profile?._url) + ')'
  }">
                    <label class="upload-btn" [class.disabled]="isUploading">
                        <input (change)="onFileSelected($event)" type="file" hidden accept="image/*"
                            [disabled]="isUploading" />
                        <div class="d-flex align-items-center justify-content-center">
                            <div *ngIf="isUploading" class="spinner"></div>
                            <span>
                                {{ isUploading ? 'Uploading...' : 'Upload Photo' }}
                            </span>
                        </div>
                    </label>
                </div>

                <p class="helper-text py-1">
                    Supported formats: JPG, PNG
                </p>

            </div>
            <div>
                <div style="width: 376px;">
                    <app-form-input label="Full Name *" [(model)]="profile.FullName" name="fullName">
                    </app-form-input>
                </div>
                <app-form-select label="Role / Designation *" [options]="roles" optionLabel="DisplyText"
                    optionValue="DisplyText" [(model)]="profile.Role" placeholder="- Select Role -" name="host">
                </app-form-select>

                <p class="helper-text pt-1">This role defines the member’s responsibility in the station.</p>
            </div>
        </div>
        <div class="custom-line-sub"></div>

        <app-step-badge [stepNumber]="2" title="Contact Information"></app-step-badge>

        <div class="form-row px-4 py-1">
            <div class="form-group mobile-group">
                <label class="input-label">Mobile Number *</label>
                <div class="phone-input ">
                    <div class="countrycode">+1</div>
                    <input type="text" class="phone-number" name="phone" [(ngModel)]="profile.Phone" />
                </div>
                <small class="helper-text">Used for internal communication.</small>
            </div>
            <div class="email">
                <app-form-input label="Email Address" [(model)]="profile.Email" name="name">
                </app-form-input>
                <p class="helper-text pt-1">This email will be used for login access &
                    communication.
                </p>
            </div>
        </div>
        <div class="custom-line-sub"></div>


        <app-step-badge [stepNumber]="3" title="Program Assignment"></app-step-badge>

        <div class="programs-wrapper px-2">

            <div class="programs-wrapper px-2">

                @if ((assignedPrograms ?? []).length > 0) {

                @for (program of assignedPrograms; track program) {

                <div class="program-item pt-2 px-2">
                    <button class="btn-delete-member d-flex align-items-center justify-content-center gap-1">

                        {{ program?.Title }}

                        <!-- <img src="/manage-member/trash.svg" alt="delete" (click)="openModalDelete()"> -->
                        <img src="/manage-member/trash.svg" alt="delete" (click)="openModalDelete(program?.ID)">
                    </button>
                </div>

                }

                } @else {

                <p class="text-muted no-program-txt px-4 pt-2 text-center">
                    No programs assigned
                </p>

                }

            </div>

        </div>
        <div class="px-4">
            <!-- <app-form-multiselect label="Assign New Programs" [options]="programList"
                [(selectedItems)]="selectedPrograms" placeholder="-Select program-" optionLabel="DisplayText">
            </app-form-multiselect> -->
            <app-form-multiselect label="Assign New Programs" [options]="filteredProgramList"
                [(selectedItems)]="selectedPrograms" placeholder="-Select program-" optionLabel="DisplayText">
            </app-form-multiselect>
        </div>

        <small class="helper-text px-4">Multiple programs can be assigned.</small>
        <div class="custom-line-sub mt-3"></div>

        <app-step-badge [stepNumber]="4" title="Account Access & Permissions *"></app-step-badge>

        <p class="my-2 px-4">

        <div class="auto-play-wrapper px-4">

            <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="isFullAccess" (change)="onToggleChange()">
                <span class="slider round"></span>
            </label>

            <span class="toggle-txt">Allow system access</span>

        </div>

        <div class="helper-text px-4 py-2">Switch this on to allow full access — all permissions will be selected for
            you.</div>
        <div class="input-label px-4 py-1">Access rights and system privilages </div>
        <!-- <div class="checkbox-container px-3">
            <span class="p-2" *ngFor="let item of permissions">
                <label class="access-txt">
                    <input type="checkbox" [(ngModel)]="item.checked" name="permission-{{item.name}}" />
                    {{ item.name }}
                </label>
            </span>
        </div> -->

        <div class="checkbox-container px-3">
            <span class="p-2" *ngFor="let item of permissions">
                <label class="access-txt">
                    <input type="checkbox" [(ngModel)]="item.checked" name="permission-{{item.name}}"
                        (change)="onPermissionChange()" />
                    {{ item.name }}
                </label>
            </span>
        </div>

        <hr class="px-3">
        <mat-dialog-actions align="end" class="d-flex justify-content-between">
            <button class="close-btn btn-cancel d-flex" (click)="close()">
                <img src="/program/close-circle.svg" width="16px" alt="">
                <p>Cancel</p>
            </button>

            <app-primary-button [loading]="loading" (click)="editProfileDetails()" t style="margin-right: 2px;"
                label="Save changes" iconSrc="/upload/tick-circle.svg"></app-primary-button>
        </mat-dialog-actions>
    </mat-dialog-content>
    <!-- footer -->

</div>